<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tab 1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    Content For Tab one


    <ion-button expand="block" (click)="goToDetailsPage()">Go To Details (click) </ion-button>
    <ion-button expand="block" routerLink="/menu/first/tabs/tab1/details">Go To Details routerLink </ion-button>

</ion-content>
